{% extends "biblio/base.html" %}

{% block css %}
	<style type="text/css">
		h2.empty {
			text-align: center;
			color:#aca;
			padding: 80px 10px;
			border: 1px solid #000;
			margin-top: 15px;
		}
		table {
			width: 100%;
			margin-top: 15px;
		}
		th {
			border: 1px solid #000;
			background: #252;
			color: #efe;
		}
		td {
			border-bottom: 1px dashed #050;
		}
		tr:hover {
			background-color: #cfc;
		}
	</style>
{% endblock %}
{% block content %}


{% if page > 0 %}[ <a href="{% url listowalne type page|add:"-1" %}">Poprzednia</a> ]{% endif %}
{% if items %}
	[ <a href="{% url listowalne type page|add:"1" %}">Następna</a> ]
	<table>
		<tr>
			<th colspan="{{ items|first|length|add:'1' }}">&nbsp;</th>
		</tr>
	{% for item in items %}
		<tr>

				<td>{{ item }}</td>

			<td style="text-align: center;">
				<input onclick="javascript:document.location='{% url edytuj_ksiazke book.id %}'" type="button" value="Wybierz" />
			</td>
		</tr>
	{% endfor %}

	</table>
{% else %}
	<h2 class="empty"><i>Pusto! :(</i></h2>
{% endif %}

{% endblock %}