{% extends "biblio/base.html" %}

{% block css %}
	<style type="text/css">
		h2.empty {
			text-align: center;
			color:#aca;
			padding: 80px 10px;
			border: 1px solid #000;
			margin-top: 15px;
		}
		table {
			width: 100%;
			margin-top: 15px;
		}
		th {
			border: 1px solid #000;
			background: #252;
			color: #efe;
		}
		td {
			border-bottom: 1px dashed #050;
		}
		tr:hover {
			background-color: #cfc;
		}

		table.small {
			width: auto;
			border: 1px solid #000;
		}
		table.small td {
			border: 0 none #000;
			padding: 0 10px;
		}

		td.title {
			font-weight: bold;
			background-color: #000;
			color: #fff;
		}
	</style>
{% endblock %}
{% block content %}

<form action="{% url edytuj_wypozyczenie None %}" method="get"><input type="submit" value="Aktualizuj" /></form>


{% if lends %}

	{% with lends|first as lend %}

	Książka:
	<table class="small">
	<tr>
		<td class="title">ID</td>
		<td>#{{ lend.book.id }}</td>
	</tr>
	<tr>
		<td class="title">Tytuł</td>
		<td><i>"{{ lend.book.title }}"</i></td>
	</tr>
	<tr>
		<td class="title">Autor</td>
		<td>{{ lend.book.author }}</td>
	</tr>
	<tr>
		<td class="title">Data publikacji</td>
		<td>{{ lend.book.pub_date }}</td>
	</tr>
		</table>
	{% endwith %}

	<table>
		<tr>
			<th>#</th>
			<th>Czytelnik</th>
			<th>Termin żądania</th>
			<th>Otrzymania</th>
			<th>Zwrotu</th>
			<th></th>
		</tr>
	{% for lend in lends %}
		<tr>
			<td>{{ lend.id }}</td>
			<td>#{{ lend.reader.id }}. {{ lend.reader.first_name }} {{ lend.reader.last_name }}</td>
			<td>{{ lend.request_time}}</td>
			<td>{{ lend.lend_time|default:"-" }}</td>
			<td>{{ lend.return_time|default:"-" }}</td>
			<td style="text-align: center;">
				<input onclick="javascript:document.location='{% url edytuj_wypozyczenie lend.id %}'" type="button" value="Edytuj" />

				{% if not lend.lend_time %}<input type="button" value="Wypożycz" onclick="javascript:document.location='{% url daj_wypozyczenie_book book=lend.book.id id=lend.id %}'" />{% endif %}
				{% if lend.lend_time and not lend.return_time %}<input type="button" value="Zwróć" onclick="javascript:document.location='{% url zwroc_wypozyczenie_book book=lend.book.id id=lend.id %}'"/>{% endif %}
			</td>
		</tr>
	{% endfor %}

	</table>
{% else %}
	<h2 class="empty"><i>Pusto! :(</i></h2>
{% endif %}

{% endblock %}